<keira-top-bar [handler]="handlerService"></keira-top-bar>

<div class="container-fluid">
  <span *ngIf="editorService.loading" [translate]="'LOADING'"></span>

  <div *ngIf="editorService.form && !!editorService.loadedEntityId && !editorService.loading">
    <div class="content-block">
      <keira-query-output
        [docUrl]="docUrl"
        [editorService]="editorService"
        (executeQuery)="editorService.save($event)"
      ></keira-query-output>
    </div>

    <div class="content-block">
      <form [formGroup]="editorService.form" class="form-group edit-form">
        <div class="row">
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <label class="control-label" for="spawn_id">spawn_id</label>
            <input [formControlName]="'spawn_id'" id="spawn_id" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <label class="control-label" for="map">map</label>
            <keira-map-selector-btn [config]="{ name: 'map' }" [control]="editorService.form.controls.map"></keira-map-selector-btn>
            <input [formControlName]="'map'" id="map" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <label class="control-label" for="position_x">position_x</label>
            <input [formControlName]="'position_x'" id="position_x" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <label class="control-label" for="position_y">position_y</label>
            <input [formControlName]="'position_y'" id="position_y" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <label class="control-label" for="position_z">position_z</label>
            <input [formControlName]="'position_z'" id="position_z" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <label class="control-label" for="orientation">orientation</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'CREATURE.SPAWN.ORIENTATION' | translate"></i>
            <input [formControlName]="'orientation'" id="orientation" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <label class="control-label" for="spawntimesecsmin">spawntimesecsmin</label>
            <input [formControlName]="'spawntimesecsmin'" id="spawntimesecsmin" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <label class="control-label" for="spawntimesecsmax">spawntimesecsmax</label>
            <input [formControlName]="'spawntimesecsmax'" id="spawntimesecsmax" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <label class="control-label" for="wander_distance">wander_distance</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'CREATURE.SPAWN.SPAWN_DIST_TOOLTIP' | translate"></i>
            <input [formControlName]="'wander_distance'" id="wander_distance" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <label class="control-label" for="health_percent">health_percent</label>
            <input [formControlName]="'health_percent'" id="health_percent" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <label class="control-label" for="mana_percent">mana_percent</label>
            <input [formControlName]="'mana_percent'" id="mana_percent" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <label class="control-label" for="movement_type">movement_type</label>
            <keira-single-value-selector-btn
              [control]="editorService.form.controls.movement_type"
              [config]="{ options: MOVEMENT_TYPE, name: 'movement_type' }"
              [modalClass]="'modal-md'"
            ></keira-single-value-selector-btn>
            <input [formControlName]="'movement_type'" id="movement_type" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <label class="control-label" for="spawn_flags">spawn_flags</label>
            <keira-flags-selector-btn
              [control]="editorService.form.controls.spawn_flags"
              [config]="{ flags: NPC_FLAGS, name: 'spawn_flags' }"
            ></keira-flags-selector-btn>
            <input [formControlName]="'spawn_flags'" id="spawn_flags" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <label class="control-label" for="ignored">ignored</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'CREATURE.SPAWN.IGNORED' | translate"></i>
            <input [formControlName]="'ignored'" id="ignored" type="number" class="form-control form-control-sm" />
          </div>

          <div class="col-12 form-error" [hidden]="editorService.isFormIdUnique()">
            <i class="fas fa-exclamation-triangle"></i>
            <span [innerHTML]="'UNIQUE' | translate: { ENTITY_SECOND_ID_FIELD: editorService.entitySecondIdField }"></span>
          </div>
        </div>
      </form>

      <div class="row">
        <div class="col-12">
          <keira-editor-buttons [editorService]="editorService"></keira-editor-buttons>

          <ngx-datatable
            id="editor-table"
            class="bootstrap table table-striped text-center datatable-select"
            [rows]="editorService.newRows"
            [headerHeight]="DTCFG.headerHeight"
            [footerHeight]="DTCFG.footerHeight"
            [columnMode]="DTCFG.columnMode"
            [rowHeight]="DTCFG.rowHeight"
            [selectionType]="DTCFG.selectionType"
            (select)="editorService.onRowSelection($event)"
            (keydown.delete)="editorService.deleteSelectedRow()"
          >
            <ngx-datatable-column [minWidth]="30" [maxWidth]="30" [sortable]="false">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <i [hidden]="!editorService.isRowSelected(row)" class="fas fa-chevron-right"></i>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="spawn_id" prop="spawn_id" [minWidth]="80"></ngx-datatable-column>
            <ngx-datatable-column name="M" prop="map" [minWidth]="42"></ngx-datatable-column>
            <ngx-datatable-column name="position_x" prop="position_x" [minWidth]="90"></ngx-datatable-column>
            <ngx-datatable-column name="position_y" prop="position_y" [minWidth]="90"></ngx-datatable-column>
            <ngx-datatable-column name="position_z" prop="position_z" [minWidth]="90"></ngx-datatable-column>
            <ngx-datatable-column name="orient." prop="orientation" [minWidth]="90"></ngx-datatable-column>
            <ngx-datatable-column name="Time" prop="spawntimesecs" [minWidth]="50"></ngx-datatable-column>
            <ngx-datatable-column name="Dist" prop="wander_distance" [minWidth]="42"></ngx-datatable-column>
            <ngx-datatable-column name="Movement" prop="movement_type" [minWidth]="42"></ngx-datatable-column>
            <ngx-datatable-column name="npcFlags" prop="spawn_flags" [minWidth]="42"></ngx-datatable-column>
            <ngx-datatable-column name="ignored" prop="ignored" [minWidth]="80"></ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
