<keira-top-bar [handler]="handlerService"></keira-top-bar>

<div class="container-fluid">
  <span *ngIf="editorService.loading" [translate]="'LOADING'"></span>

  <div *ngIf="editorService.form && !!editorService.loadedEntityId && !editorService.loading">
    <div class="content-block">
      <keira-query-output
        [docUrl]="docUrl"
        [editorService]="editorService"
        (executeQuery)="editorService.save($event)"
      ></keira-query-output>
    </div>

    <div class="content-block">
      <form [formGroup]="editorService.form" class="form-group edit-form">
        <div class="row">
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <label class="control-label" for="spawn_id">spawn_id</label>
            <input [formControlName]="'spawn_id'" id="spawn_id" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <label class="control-label" for="spawn_map">spawn_map</label>
            <keira-map-selector-btn
              [config]="{ name: 'spawn_map' }"
              [control]="editorService.form.controls.spawn_map"
            ></keira-map-selector-btn>
            <input [formControlName]="'spawn_map'" id="spawn_map" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <label class="control-label" for="spawn_positionX">spawn_positionX</label>
            <input [formControlName]="'spawn_positionX'" id="spawn_positionX" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <label class="control-label" for="spawn_positionY">spawn_positionY</label>
            <input [formControlName]="'spawn_positionY'" id="spawn_positionY" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <label class="control-label" for="spawn_positionZ">spawn_positionZ</label>
            <input [formControlName]="'spawn_positionZ'" id="spawn_positionZ" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <label class="control-label" for="spawn_orientation">spawn_orientation</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'GAMEOBJECT.SPAWN.spawn_orientation' | translate"></i>
            <input [formControlName]="'spawn_orientation'" id="spawn_orientation" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <label class="control-label" for="spawn_rotation0">spawn_rotation0</label>
            <input [formControlName]="'spawn_rotation0'" id="spawn_rotation0" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <label class="control-label" for="spawn_rotation1">spawn_rotation1</label>
            <input [formControlName]="'spawn_rotation1'" id="spawn_rotation1" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <label class="control-label" for="spawn_rotation2">spawn_rotation2</label>
            <input [formControlName]="'spawn_rotation2'" id="spawn_rotation2" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <label class="control-label" for="spawn_rotation3">spawn_rotation3</label>
            <input [formControlName]="'spawn_rotation3'" id="spawn_rotation3" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <label class="control-label" for="spawn_spawntimemin">spawn_spawntimemin</label>
            <input [formControlName]="'spawn_spawntimemin'" id="spawn_spawntimemin" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <label class="control-label" for="spawn_spawntimemax">spawn_spawntimemax</label>
            <input [formControlName]="'spawn_spawntimemax'" id="spawn_spawntimemax" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <label class="control-label" for="spawn_animprogress">spawn_animpr</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'GAMEOBJECT.SPAWN.ANIMPROGRESS' | translate"></i>
            <input [formControlName]="'spawn_animprogress'" id="spawn_animprogress" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <label class="control-label" for="spawn_state">spawn_state</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'GAMEOBJECT.SPAWN.STATE' | translate"></i>
            <input [formControlName]="'spawn_state'" id="spawn_state" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <label class="control-label" for="spawn_flags">spawn_flags</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'GAMEOBJECT.SPAWN.FLAGS' | translate"></i>
            <input [formControlName]="'spawn_flags'" id="spawn_flags" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <label class="control-label" for="spawn_visibility_mod">spawn_vi_mod</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'GAMEOBJECT.SPAWN.VISILIBITY_MOD' | translate"></i>
            <input
              [formControlName]="'spawn_visibility_mod'"
              id="spawn_visibility_mod"
              type="number"
              class="form-control form-control-sm"
            />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <label class="control-label" for="ignored">ignored</label>
            <input [formControlName]="'ignored'" id="ignored" type="number" class="form-control form-control-sm" />
          </div>

          <div class="col-12 form-error" [hidden]="editorService.isFormIdUnique()">
            <i class="fas fa-exclamation-triangle"></i>
            <span [innerHTML]="'UNIQUE' | translate: { ENTITY_SECOND_ID_FIELD: editorService.entitySecondIdField }"></span>
          </div>
        </div>
      </form>

      <div class="row">
        <div class="col-12">
          <keira-editor-buttons [editorService]="editorService"></keira-editor-buttons>

          <ngx-datatable
            id="editor-table"
            class="bootstrap table table-striped text-center datatable-select"
            [rows]="editorService.newRows"
            [headerHeight]="DTCFG.headerHeight"
            [footerHeight]="DTCFG.footerHeight"
            [columnMode]="DTCFG.columnMode"
            [rowHeight]="DTCFG.rowHeight"
            [selectionType]="DTCFG.selectionType"
            (select)="editorService.onRowSelection($event)"
            (keydown.delete)="editorService.deleteSelectedRow()"
          >
            <ngx-datatable-column [minWidth]="30" [maxWidth]="30" [sortable]="false">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <i [hidden]="!editorService.isRowSelected(row)" class="fas fa-chevron-right"></i>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="spawn_id" prop="spawn_id" [minWidth]="80"></ngx-datatable-column>
            <ngx-datatable-column name="M" prop="spawn_map" [minWidth]="42"></ngx-datatable-column>
            <ngx-datatable-column name="spawn_positionX" prop="spawn_positionX" [minWidth]="90"></ngx-datatable-column>
            <ngx-datatable-column name="spawn_positionY" prop="spawn_positionY" [minWidth]="90"></ngx-datatable-column>
            <ngx-datatable-column name="spawn_positionZ" prop="spawn_positionZ" [minWidth]="90"></ngx-datatable-column>
            <ngx-datatable-column name="orient." prop="spawn_orientation" [minWidth]="90"></ngx-datatable-column>
            <ngx-datatable-column name="rot.0" prop="spawn_rotation0" [minWidth]="90"></ngx-datatable-column>
            <ngx-datatable-column name="rot.1" prop="spawn_rotation1" [minWidth]="90"></ngx-datatable-column>
            <ngx-datatable-column name="rot.2" prop="spawn_rotation2" [minWidth]="90"></ngx-datatable-column>
            <ngx-datatable-column name="rot.3" prop="spawn_rotation3" [minWidth]="90"></ngx-datatable-column>
            <ngx-datatable-column name="Time" prop="spawn_spawntimemin" [minWidth]="50"></ngx-datatable-column>
            <ngx-datatable-column name="anim" prop="spawn_animprogress" [minWidth]="90"></ngx-datatable-column>
            <ngx-datatable-column name="spawn_state" prop="spawn_state" [minWidth]="90"></ngx-datatable-column>
            <ngx-datatable-column name="spawn_flags" prop="spawn_flags" [minWidth]="90"></ngx-datatable-column>
            <ngx-datatable-column name="spawn_flags" prop="spawn_visibility_mod" [minWidth]="90"></ngx-datatable-column>
            <ngx-datatable-column name="script_name" prop="script_name" [minWidth]="80"></ngx-datatable-column>
            <ngx-datatable-column name="ignored" prop="ignored" [minWidth]="50"></ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
