<ng-container *ngIf="!!editorService">
  <div class="content-block">
    <keira-query-output [docUrl]="docUrl" [editorService]="editorService" (executeQuery)="editorService.save($event)"></keira-query-output>
  </div>

  <div class="content-block">
    <form [formGroup]="editorService.form" class="form-group edit-form">
      <div class="row">
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
          <label class="control-label" for="item">
            <keira-icon [itemId]="editorService.form.controls.item.value"></keira-icon>
            item
          </label>
          <keira-item-selector-btn [control]="editorService.form.controls.item" [config]="{ name: 'Item' }"></keira-item-selector-btn>
          <input [formControlName]="'item'" id="item" type="number" class="form-control form-control-sm" />
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
          <label class="control-label" for="mincountOrRef">mincountOrRef</label>
          <i class="fas fa-info-circle ms-1" [placement]="'auto'" [tooltip]="'LOOT_EDITOR.REFERENCE' | translate"></i>
          <input [formControlName]="'mincountOrRef'" id="mincountOrRef" type="number" class="form-control form-control-sm" />
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
          <label class="control-label" for="ChanceOrQuestChance">ChanceOrQuestC</label>
          <i class="fas fa-info-circle ms-1" [placement]="'auto'" [tooltip]="'LOOT_EDITOR.CHANCE' | translate"></i>

          <input [formControlName]="'ChanceOrQuestChance'" id="ChanceOrQuestChance" type="number" class="form-control form-control-sm" />
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
          <label class="control-label" for="groupid">groupid</label>
          <i class="fas fa-info-circle ms-1" [placement]="'auto'" [tooltip]="'LOOT_EDITOR.GROUP_ID' | translate"></i>
          <input [formControlName]="'groupid'" id="groupid" type="number" class="form-control form-control-sm" />
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
          <label class="control-label" for="maxcount">maxcount</label>
          <i class="fas fa-info-circle ms-1" [placement]="'auto'" [tooltip]="'LOOT_EDITOR.MAX_COUNT' | translate"></i>
          <input [formControlName]="'maxcount'" id="maxcount" type="number" class="form-control form-control-sm" />
        </div>
        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
          <label class="control-label" for="condition_id">condition_id</label>
          <i class="fas fa-info-circle ms-1" [placement]="'auto'" [tooltip]="'LOOT_EDITOR.CONDITION_ID' | translate"></i>
          <input [formControlName]="'condition_id'" id="condition_id" type="number" class="form-control form-control-sm" />
        </div>
        <div class="col-12 form-error" [hidden]="editorService.isFormIdUnique()">
          <i class="fas fa-exclamation-triangle"></i>
          <span [innerHTML]="'UNIQUE' | translate: { ENTITY_SECOND_ID_FIELD: editorService.entitySecondIdField }"></span>
        </div>
      </div>
    </form>

    <div class="row">
      <div class="col-12">
        <keira-editor-buttons [editorService]="editorService"></keira-editor-buttons>

        <ngx-datatable
          id="editor-table"
          class="bootstrap table table-striped text-center datatable-select datatable-icon-list mb-0"
          [rows]="editorService.newRows"
          [headerHeight]="DTCFG.headerHeight"
          [footerHeight]="DTCFG.footerHeight"
          [columnMode]="DTCFG.columnMode"
          [rowHeight]="DTCFG.rowHeightWithIcon"
          [selectionType]="DTCFG.selectionType"
          (select)="editorService.onRowSelection($event)"
          (keydown.delete)="editorService.deleteSelectedRow()"
        >
          <ngx-datatable-column [minWidth]="30" [maxWidth]="30" [sortable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <i [hidden]="!editorService.isRowSelected(row)" class="fas fa-chevron-right"></i>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [minWidth]="42" [maxWidth]="42" [sortable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <keira-icon *ngIf="!isReference(row)" [itemId]="row.item"></keira-icon>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="item" prop="item" [minWidth]="80"></ngx-datatable-column>
          <ngx-datatable-column name="Name" [minWidth]="200" [sortable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <span>{{ editorService.queryService.getItemNameById(row.item) | async }}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="mincountOrRef" prop="mincountOrRef">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <span [ngClass]="{ reference: isReference(row) }">{{ row.mincountOrRef }}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="ChanceOrQuestChance" prop="ChanceOrQuestChance"></ngx-datatable-column>
          <ngx-datatable-column name="groupid" prop="groupid">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <span class="group-{{ row.groupid }}">{{ row.groupid }}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="maxcount" prop="maxcount"></ngx-datatable-column>
          <ngx-datatable-column name="condition_id" prop="conditon_id" [minWidth]="80"></ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>

  <!-- <keira-reference-viewer *ngFor="let id of referenceIds" [referenceId]="id"></keira-reference-viewer> -->
</ng-container>
