<keira-top-bar [handler]="handlerService"></keira-top-bar>

<div class="container-fluid">
  <span *ngIf="editorService.loading" [translate]="'LOADING'"></span>

  <div *ngIf="editorService.form && !!editorService.loadedEntityId && !editorService.loading">
    <div class="content-block">
      <keira-query-output
        [docUrl]="docUrl"
        [editorService]="editorService"
        (executeQuery)="editorService.save($event)"
      ></keira-query-output>
    </div>

    <form [formGroup]="editorService.form" class="form-group edit-form">
      <div class="content-block">
        <div class="row">
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <label class="control-label" for="guid">guid</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'CREATURE.TEMPLATE_ADDON.guid' | translate"></i>
            <input [formControlName]="'guid'" id="guid" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <label class="control-label" for="display_id">display_id</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'CREATURE.TEMPLATE_ADDON.DISPLAY_ID' | translate"></i>
            <input [formControlName]="'display_id'" id="display_id" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <label class="control-label" for="mount_display_id">mount_display_id</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'CREATURE.TEMPLATE_ADDON.MOUNT_DISPLAY_ID' | translate"></i>
            <input [formControlName]="'mount_display_id'" id="mount_display_id" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <label class="control-label" for="equipment_id">equipment_id</label>
            <input [formControlName]="'equipment_id'" id="equipment_id" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <label class="control-label" for="stand_state">stand_state</label>
            <input [formControlName]="'stand_state'" id="stand_state" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <label class="control-label" for="emote_state">emote_state</label>
            <keira-single-value-selector-btn
              [control]="editorService.form.controls.emote_state"
              [config]="{ options: EMOTE, name: 'emote' }"
              [modalClass]="'modal-md'"
            ></keira-single-value-selector-btn>
            <input [formControlName]="'emote_state'" id="emote_state" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <label class="control-label" for="sheath_state">sheath_state</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'CREATURE.TEMPLATE_ADDON.SHEATH_STATE' | translate"></i>
            <input [formControlName]="'sheath_state'" id="sheath_state" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
            <label class="control-label" for="auras">auras</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'CREATURE.TEMPLATE_ADDON.AURAS' | translate"></i>
            <input [formControlName]="'auras'" id="auras" class="form-control form-control-sm" />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
