<div class="container-fluid">
  <span *ngIf="editorService.loading" [translate]="'LOADING'"></span>

  <div *ngIf="editorService.form && !!editorService.loadedEntityId && !editorService.loading">
    <div class="content-block">
      <keira-query-output
        [docUrl]="docUrl"
        [editorService]="editorService"
        (executeQuery)="editorService.save($event)"
      ></keira-query-output>
    </div>

    <form [formGroup]="editorService.form" class="form-group edit-form">
      <div class="content-block">
        <div class="form-group row">
          <label class="col-sm-4 col-md-3 col-lg-2 col-form-label" for="type">type</label>
          <div class="col-sm-8 col-md-9 col-lg-10">
            <div class="col-sm-8 col-md-9 col-lg-10">
              <input [formControlName]="'type'" type="number" class="form-control form-control-sm" id="type" placeholder="flags" />
            </div>
          </div>

          <label class="col-sm-4 col-md-3 col-lg-2 col-form-label" for="flags">flags</label>
          <div class="col-sm-8 col-md-9 col-lg-10">
            <input [formControlName]="'flags'" type="number" class="form-control form-control-sm" id="flags" placeholder="flags" />
          </div>
        </div>

        <div class="row">
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <label class="control-label" for="value1">value1</label>
            <i class="fas fa-info-circle ms-1" [placement]="'auto'" [tooltip]="CONDITION_VALUE_1_TOOLTIPS[conditionType] | translate"></i>
            <keira-flags-selector-btn
              *ngIf="showTypeMask"
              [control]="editorService.form.controls.value1"
              [config]="{ flags: TYPEMASK, name: 'ConditionValue1' }"
              [modalClass]="'modal-lg'"
            ></keira-flags-selector-btn>
            <keira-single-value-selector-btn
              *ngIf="showObjectEntryGuid"
              [control]="editorService.form.controls.value1"
              [config]="{ options: CONDITION_OBJECT_ENTRY_GUID_CV1, name: 'ConditionValue1' }"
              [modalClass]="'modal-md'"
            ></keira-single-value-selector-btn>
            <keira-single-value-selector-btn
              *ngIf="showStandState"
              [control]="editorService.form.controls.value1"
              [config]="{ options: CONDITION_STAND_STATE_CV1, name: 'ConditionValue1' }"
              [modalClass]="'modal-md'"
            ></keira-single-value-selector-btn>
            <input [formControlName]="'value1'" id="value1" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <label class="control-label" for="value2">value2</label>
            <i class="fas fa-info-circle ms-1" [placement]="'auto'" [tooltip]="CONDITION_VALUE_2_TOOLTIPS[conditionType] | translate"></i>
            <keira-flags-selector-btn
              id="queststate-flag-selector"
              *ngIf="showQuestState"
              [control]="editorService.form.controls.value2"
              [config]="{ flags: QUEST_STATE, name: 'ConditionValue2' }"
              [modalClass]="'modal-lg'"
            ></keira-flags-selector-btn>
            <keira-flags-selector-btn
              id="rankmask-flag-selector"
              *ngIf="showReactionTo"
              [control]="editorService.form.controls.value2"
              [config]="{ flags: RANKMASK, name: 'ConditionValue2' }"
              [modalClass]="'modal-lg'"
            ></keira-flags-selector-btn>
            <keira-single-value-selector-btn
              *ngIf="showLevel"
              [control]="editorService.form.controls.value2"
              [config]="{ options: CONDITION_LEVEL_CV2, name: 'ConditionValue2' }"
              [modalClass]="'modal-md'"
            ></keira-single-value-selector-btn>
            <keira-single-value-selector-btn
              *ngIf="showRelationTo"
              [control]="editorService.form.controls.value2"
              [config]="{ options: CONDITION_RELATION_TO_CV2, name: 'ConditionValue2' }"
              [modalClass]="'modal-md'"
            ></keira-single-value-selector-btn>
            <keira-single-value-selector-btn
              *ngIf="showHPVal"
              [control]="editorService.form.controls.value2"
              [config]="{ options: CONDITION_HP_VAL_CV2, name: 'ConditionValue2' }"
              [modalClass]="'modal-md'"
            ></keira-single-value-selector-btn>
            <keira-single-value-selector-btn
              *ngIf="showHPPct"
              [control]="editorService.form.controls.value2"
              [config]="{ options: CONDITION_HP_PCT_CV2, name: 'ConditionValue2' }"
              [modalClass]="'modal-md'"
            ></keira-single-value-selector-btn>
            <keira-single-value-selector-btn
              *ngIf="showStandState"
              [control]="editorService.form.controls.value2"
              [config]="{ options: CONDITION_STAND_STATE_CV2, name: 'ConditionValue2' }"
              [modalClass]="'modal-md'"
            ></keira-single-value-selector-btn>
            <input [formControlName]="'value2'" id="value2" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <label class="control-label" for="value3">value3</label>
            <i class="fas fa-info-circle ms-1" [placement]="'auto'" [tooltip]="CONDITION_VALUE_3_TOOLTIPS[conditionType] | translate"></i>
            <keira-single-value-selector-btn
              *ngIf="showInstanceInfo"
              [control]="editorService.form.controls.value3"
              [config]="{ options: CONDITION_INSTANCE_INFO_CV3, name: 'ConditionValue3' }"
              [modalClass]="'modal-md'"
            ></keira-single-value-selector-btn>
            <keira-single-value-selector-btn
              *ngIf="showNearCreature"
              [control]="editorService.form.controls.value3"
              [config]="{ options: CONDITION_NEAR_CREATURE_CV3, name: 'ConditionValue3' }"
              [modalClass]="'modal-md'"
            ></keira-single-value-selector-btn>
            <keira-single-value-selector-btn
              *ngIf="showDistanceTo"
              [control]="editorService.form.controls.value3"
              [config]="{ options: CONDITION_DISTANCE_TO_CV3, name: 'ConditionValue3' }"
              [modalClass]="'modal-md'"
            ></keira-single-value-selector-btn>
            <input [formControlName]="'value3'" id="value3" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <label class="control-label" for="value4">value4</label>
            <i class="fas fa-info-circle ms-1" [placement]="'auto'" [tooltip]="CONDITION_VALUE_3_TOOLTIPS[conditionType] | translate"></i>
            <keira-single-value-selector-btn
              *ngIf="showInstanceInfo"
              [control]="editorService.form.controls.value4"
              [config]="{ options: CONDITION_INSTANCE_INFO_CV3, name: 'ConditionValue4' }"
              [modalClass]="'modal-md'"
            ></keira-single-value-selector-btn>
            <keira-single-value-selector-btn
              *ngIf="showNearCreature"
              [control]="editorService.form.controls.value4"
              [config]="{ options: CONDITION_NEAR_CREATURE_CV3, name: 'ConditionValue4' }"
              [modalClass]="'modal-md'"
            ></keira-single-value-selector-btn>
            <keira-single-value-selector-btn
              *ngIf="showDistanceTo"
              [control]="editorService.form.controls.value4"
              [config]="{ options: CONDITION_DISTANCE_TO_CV3, name: 'ConditionValue4' }"
              [modalClass]="'modal-md'"
            ></keira-single-value-selector-btn>
            <input [formControlName]="'value4'" id="value4" type="number" class="form-control form-control-sm" />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
