<div class="container-fluid">
  <div class="content-block">
    <div class="wiki-link mb-2">
      <a [href]="WIKI_BASE_URL + 'conditions'" target="_blank"> <i class="fas fa-link"></i> conditions documentation </a>
    </div>

    <form [formGroup]="selectService.queryForm">
      <ng-container [formGroup]="selectService.fields">
        <div class="form-group row">
          <label class="col-sm-4 col-md-3 col-lg-2 col-form-label" for="condition_entry">Entry</label>
          <div class="form-group col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <input [formControlName]="'condition_entry'" class="form-control form-control-sm" id="condition_entry" placeholder="Entry" />
          </div>

          <label class="col-sm-4 col-md-3 col-lg-2 col-form-label" for="type">Type</label>
          <div class="form-group col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <select [formControlName]="'type'" class="form-control form-control-sm" id="type">
              <option *ngFor="let key of CONDITION_SOURCE_TYPES_KEYS" [ngValue]="key" [label]="CONDITION_SOURCE_TYPES[key]"></option>
            </select>
          </div>
        </div>
      </ng-container>
      <div class="form-group row">
        <label class="col-sm-4 col-md-3 col-lg-2 col-form-label" for="limit" [translate]="'LIMIT'"></label>
        <div class="col-sm-4 col-md-3 col-lg-2">
          <input [formControlName]="'limit'" class="form-control form-control-sm" id="limit" placeholder="Limit" />
        </div>
        <div class="col-sm-12 col-md-6 mt-1 mt-md-0">
          <keira-search-button [searchService]="selectService"></keira-search-button>
          <button
            class="btn btn-success btn-sm mt-1 ms-2 mt-sm-0"
            id="create-new-btn"
            [disabled]="selectService.queryForm.invalid"
            (click)="onCreateNew()"
          >
            {{ 'CONDITIONS.SELECT.CREATE_NEW' | translate }}
          </button>
        </div>
      </div>
      <keira-highlightjs-wrapper [code]="selectService.query"></keira-highlightjs-wrapper>
    </form>

    <div *ngIf="selectService.rows">
      <ngx-datatable
        class="bootstrap table table-striped text-center datatable-select"
        [rows]="selectService.rows"
        [headerHeight]="DTCFG.headerHeight"
        [footerHeight]="DTCFG.footerHeight"
        [columnMode]="DTCFG.columnMode"
        [rowHeight]="DTCFG.rowHeight"
        [limit]="DTCFG.limit"
        [selectionType]="DTCFG.selectionType"
        (select)="onSelect($event)"
      >
        <ngx-datatable-column name="condition_entry" prop="condition_entry" [minWidth]="60"></ngx-datatable-column>
        <ngx-datatable-column name="type" prop="type"></ngx-datatable-column>
        <ngx-datatable-column name="value1" prop="value1"></ngx-datatable-column>
        <ngx-datatable-column name="value2" prop="value2"></ngx-datatable-column>
        <ngx-datatable-column name="value3" prop="value3"></ngx-datatable-column>
        <ngx-datatable-column name="value4" prop="value4"></ngx-datatable-column>
        <ngx-datatable-column name="flags" prop="flags"></ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
