<keira-top-bar [handler]="handlerService"></keira-top-bar>

<div class="container-fluid">
  <span *ngIf="editorService.loading" [translate]="'LOADING'"></span>

  <div *ngIf="editorService.form && !!editorService.loadedEntityId && !editorService.loading">
    <div class="content-block">
      <keira-query-output
        [docUrl]="docUrl"
        [editorService]="editorService"
        (executeQuery)="editorService.save($event)"
      ></keira-query-output>
    </div>

    <div class="content-block">
      <form [formGroup]="editorService.form" class="form-group edit-form">
        <div class="row">
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <label class="control-label" for="template_entry">template_entry</label>
            <input [formControlName]="'template_entry'" id="template_entry" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <label class="control-label" for="spell">spell</label>
            <keira-spell-selector-btn
              [control]="editorService.form.controls.spell"
              [config]="{ name: 'SpellID' }"
              [modalClass]="'modal-lg'"
            ></keira-spell-selector-btn>
            <input [formControlName]="'spell'" id="spell" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <label class="control-label" for="playerspell">playerspell</label>
            <keira-spell-selector-btn
              [control]="editorService.form.controls.playerspell"
              [config]="{ name: 'SpellID' }"
              [modalClass]="'modal-lg'"
            ></keira-spell-selector-btn>
            <input [formControlName]="'playerspell'" id="playerspell" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <label class="control-label" for="spellcost">spellcost</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'CREATURE.NPC_TRAINER.MONEY_COST' | translate"></i>
            <input [formControlName]="'spellcost'" id="spellcost" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <label class="control-label" for="talentpointcost">talentpointcost</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'CREATURE.NPC_TRAINER.TALENT_POINT_COST' | translate"></i>
            <input [formControlName]="'talentpointcost'" id="talentpointcost" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <label class="control-label" for="skillpointcost">skillpointcost</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'CREATURE.NPC_TRAINER.SKILL_POINT_COST' | translate"></i>
            <input [formControlName]="'skillpointcost'" id="skillpointcost" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <label class="control-label" for="reqskill">reqskill</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'CREATURE.NPC_TRAINER.REQ_SKILL_LINE' | translate"></i>
            <keira-skill-selector-btn
              [config]="{ name: 'ReqSkillLine' }"
              [control]="editorService.form.controls.reqskill"
            ></keira-skill-selector-btn>
            <input [formControlName]="'reqskill'" id="reqskill" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <label class="control-label" for="reqskillvalue">reqskillvalue</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'CREATURE.NPC_TRAINER.REQ_SKILL_VALUE' | translate"></i>
            <input [formControlName]="'reqskillvalue'" id="reqskillvalue" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <label class="control-label" for="reqlevel">reqlevel</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'CREATURE.NPC_TRAINER.REQ_LEVEL' | translate"></i>
            <input [formControlName]="'reqlevel'" id="reqlevel" type="number" class="form-control form-control-sm" />
          </div>

          <div class="col-12 form-error" [hidden]="editorService.isFormIdUnique()">
            <i class="fas fa-exclamation-triangle"></i>
            <span [innerHTML]="'UNIQUE' | translate: { ENTITY_SECOND_ID_FIELD: editorService.entitySecondIdField }"></span>
          </div>
        </div>
      </form>

      <div class="row">
        <div class="col-12">
          <keira-editor-buttons [editorService]="editorService"></keira-editor-buttons>

          <ngx-datatable
            id="editor-table"
            class="bootstrap table table-striped text-center datatable-select"
            [rows]="editorService.newRows"
            [headerHeight]="DTCFG.headerHeight"
            [footerHeight]="DTCFG.footerHeight"
            [columnMode]="DTCFG.columnMode"
            [rowHeight]="DTCFG.rowHeight"
            [selectionType]="DTCFG.selectionType"
            (select)="editorService.onRowSelection($event)"
            (keydown.delete)="editorService.deleteSelectedRow()"
          >
            <ngx-datatable-column [minWidth]="30" [maxWidth]="30" [sortable]="false">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <i [hidden]="!editorService.isRowSelected(row)" class="fas fa-chevron-right"></i>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="spell" prop="spell" [minWidth]="80"></ngx-datatable-column>
            <ngx-datatable-column name="Name" [minWidth]="200">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ sqliteQueryService.getSpellNameById(row.spell) | async }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="spellcost" prop="spellcost"></ngx-datatable-column>
            <ngx-datatable-column name="talentpointcost" prop="talentpointcost"></ngx-datatable-column>
            <ngx-datatable-column name="skillpointcost" prop="skillpointcost"></ngx-datatable-column>
            <ngx-datatable-column name="reqskill" prop="reqskill"></ngx-datatable-column>
            <ngx-datatable-column name="reqskillvalue" prop="reqskillvalue"></ngx-datatable-column>
            <ngx-datatable-column name="reqlevel" prop="reqlevel"></ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
