<keira-top-bar [handler]="handlerService"></keira-top-bar>

<div class="container-fluid editor-with-preview" [ngClass]="{ 'show-preview': questPreviewService.showPreview }">
  <span *ngIf="editorService.loading" [translate]="'LOADING'"></span>

  <div *ngIf="editorService.form && !!editorService.loadedEntityId && !editorService.loading">
    <div class="content-block">
      <keira-query-output
        [docUrl]="docUrl"
        [editorService]="editorService"
        (executeQuery)="editorService.save($event)"
      ></keira-query-output>
    </div>

    <form [formGroup]="editorService.form" class="form-group edit-form">
      <div class="content-block">
        <span class="category-title" [translate]="'QUEST.TEMPLATE.BASE'"></span>
        <div class="row">
          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="entry">entry</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'UNIQUE_ID' | translate: { ENTITY: 'quest' }"></i>
            <input [formControlName]="'entry'" id="entry" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="Method">Method</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'QUEST.TEMPLATE.METHOD' | translate"></i>
            <input [formControlName]="'Method'" id="Method" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="ZoneOrSort">ZoneOrSort</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'QUEST.TEMPLATE.QUEST_SORT_ID' | translate"></i>
            <input [formControlName]="'ZoneOrSort'" id="ZoneOrSort" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="MinLevel">MinLevel</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'QUEST.TEMPLATE.MIN_LEVEL' | translate"></i>
            <input [formControlName]="'MinLevel'" id="MinLevel" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="MaxLevel">MaxLevel</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'QUEST.TEMPLATE.MIN_LEVEL' | translate"></i>
            <input [formControlName]="'MaxLevel'" id="MaxLevel" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-6 col-lg-4 col-xl-2">
            <label class="control-label" for="QuestLevel">QuestLevel</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'QUEST.TEMPLATE.QUEST_LEVEL' | translate"></i>
            <input [formControlName]="'QuestLevel'" id="QuestLevel" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-6 col-lg-4 col-xl-2">
            <label class="control-label" for="PrevQuestId">PrevQuestId</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'QUEST.TEMPLATE_ADDON.PREV_QUEST_ID' | translate"></i>
            <input [formControlName]="'PrevQuestId'" id="PrevQuestId" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-6 col-lg-4 col-xl-2">
            <label class="control-label" for="NextQuestId">NextQuestId</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'QUEST.TEMPLATE_ADDON.NEXT_QUEST_ID' | translate"></i>
            <input [formControlName]="'NextQuestId'" id="NextQuestId" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-6 col-lg-4 col-xl-2">
            <label class="control-label" for="NextQuestInChain">NextQuestInChain</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'QUEST.TEMPLATE.REWARD_NEXT_QUEST' | translate"></i>
            <input [formControlName]="'NextQuestInChain'" id="NextQuestInChain" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="Type">Type</label>
            <keira-single-value-selector-btn
              [control]="editorService.form.controls.Type"
              [config]="{ options: QUEST_TYPE, name: 'QuestType' }"
              [modalClass]="'modal-md'"
            ></keira-single-value-selector-btn>
            <input [formControlName]="'Type'" id="Type" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="RepObjectiveFaction">RepObjectiveFaction</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'QUEST.TEMPLATE.REQUIRED_OBJECTIVE_FACTION' | translate"></i>
            <input [formControlName]="'RepObjectiveFaction'" id="RepObjectiveFaction" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="RepObjectiveValue">RepObjectiveValue</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'QUEST.TEMPLATE.REQUIRED_OBJECTIVE_VALUE' | translate"></i>
            <input [formControlName]="'RepObjectiveValue'" id="RepObjectiveValue" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="SuggestedPlayers">SuggestedPlayers</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'QUEST.TEMPLATE.SUGGESTED_GROUP_NUM' | translate"></i>
            <input [formControlName]="'SuggestedPlayers'" id="SuggestedPlayers" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="SrcItemId">
              <keira-icon [itemId]="editorService.form.controls.SrcItemId.value"></keira-icon>
              SrcItemId
            </label>

            <keira-item-selector-btn
              [control]="editorService.form.controls.SrcItemId"
              [config]="{ name: 'StartItem' }"
            ></keira-item-selector-btn>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'QUEST.TEMPLATE.START_ITEM' | translate"></i>
            <input [formControlName]="'SrcItemId'" id="SrcItemId" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="SrcItemCount">SrcItemCount</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'QUEST.TEMPLATE.START_ITEM' | translate"></i>
            <input [formControlName]="'SrcItemCount'" id="SrcItemCount" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="SrcSpell">SrcSpell</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'QUEST.TEMPLATE.SRC_SPELL' | translate"></i>
            <input [formControlName]="'SrcSpell'" id="SrcSpell" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="QuestFlags">QuestFlags</label>
            <keira-flags-selector-btn
              [control]="editorService.form.controls.QuestFlags"
              [config]="{ flags: QUEST_FLAGS, name: 'Flags' }"
            ></keira-flags-selector-btn>
            <input [formControlName]="'QuestFlags'" id="QuestFlags" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="SpecialFlags">SpecialFlags</label>
            <input [formControlName]="'SpecialFlags'" id="SpecialFlags" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="LimitTime">LimitTime</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'QUEST.TEMPLATE.TIME_ALLOWED' | translate"></i>
            <input [formControlName]="'LimitTime'" id="LimitTime" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="StartScript">StartScript</label>
            <input [formControlName]="'StartScript'" id="StartScript" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="CompleteScript">CompleteScript</label>
            <input [formControlName]="'CompleteScript'" id="CompleteScript" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="ignored">ignored</label>
            <input [formControlName]="'ignored'" id="ignored" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="parse_timestamp">parse_timestamp</label>
            <input [formControlName]="'parse_timestamp'" id="parse_timestamp" class="form-control form-control-sm" />
          </div>
        </div>
      </div>
      <div class="content-block">
        <span class="category-title" [translate]="'QUEST.TEMPLATE.POINT_OF_INTEREST'"></span>
        <div class="row">
          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="PointMapId">PointMapId</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'QUEST.TEMPLATE.POI_CONTINENT' | translate"></i>
            <input [formControlName]="'PointMapId'" id="PointMapId" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="PointX">PointX</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'QUEST.TEMPLATE.POI_X' | translate"></i>
            <input [formControlName]="'PointX'" id="PointX" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="PointY">PointY</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'QUEST.TEMPLATE.POI_Y' | translate"></i>
            <input [formControlName]="'PointY'" id="PointY" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="PointOpt">PointOpt</label>
            <input [formControlName]="'PointOpt'" id="PointOpt" type="number" class="form-control form-control-sm" />
          </div>
        </div>
      </div>
      <div class="content-block">
        <span class="category-title" [translate]="'QUEST.TEMPLATE.TEXTS'"></span>
        <div class="row">
          <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
            <label class="control-label" for="Title">Title</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'QUEST.TEMPLATE.LOG_TITLE' | translate"></i>
            <input [formControlName]="'Title'" id="Title" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
            <label class="control-label" for="Details">Details</label>
            <textarea [formControlName]="'Details'" id="Details" class="form-control form-control-sm"></textarea>
          </div>

          <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
            <label class="control-label" for="Objectives">Objectives</label>
            <textarea [formControlName]="'Objectives'" id="Objectives" class="form-control form-control-sm"></textarea>
          </div>

          <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
            <label class="control-label" for="OfferRewardText">OfferRewardText</label>
            <textarea [formControlName]="'OfferRewardText'" id="OfferRewardText" class="form-control form-control-sm"></textarea>
          </div>

          <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
            <label class="control-label" for="RequestItemsText">RequestItemsText</label>
            <textarea [formControlName]="'RequestItemsText'" id="RequestItemsText" class="form-control form-control-sm"></textarea>
          </div>

          <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
            <label class="control-label" for="EndText">EndText</label>
            <textarea [formControlName]="'EndText'" id="EndText" class="form-control form-control-sm"></textarea>
          </div>
        </div>
      </div>
      <div class="content-block">
        <span class="category-title">
          {{ 'QUEST.TEMPLATE.OBJECTIVE_TEXTS' | translate }}
          <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'QUEST.TEMPLATE.OBJECTIVE_TEXTS_TOOLTIP' | translate"></i>
        </span>
        <div class="row">
          <div *ngFor="let i of [1, 2, 3, 4]" class="form-group col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <label class="control-label" for="ObjectiveText{{ i }}">ObjectiveText{{ i }}</label>
            <input [formControlName]="'ObjectiveText' + i" id="ObjectiveText{{ i }}" class="form-control form-control-sm" />
          </div>
        </div>
      </div>
      <div class="content-block">
        <span class="category-title">
          {{ 'QUEST.TEMPLATE.REQUIRED_ITEMS' | translate }}
          <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'QUEST.TEMPLATE.REQUIRED_ITEMS_TOOLTIP' | translate"></i>
        </span>
        <div class="row">
          <div *ngFor="let i of [1, 2, 3, 4]" class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <div class="row">
              <div class="col-12">
                <label class="control-label" for="ReqItemId{{ i }}">
                  <keira-icon [itemId]="editorService.form.controls['ReqItemId' + i].value"></keira-icon>
                  ReqItemId{{ i }}
                </label>
                <keira-item-selector-btn
                  [control]="editorService.form.controls['ReqItemId' + i]"
                  [config]="{ name: 'ReqItemId' + i }"
                ></keira-item-selector-btn>
                <input [formControlName]="'ReqItemId' + i" id="ReqItemId{{ i }}" type="number" class="form-control form-control-sm" />
              </div>
              <div class="col-12">
                <label class="control-label" for="ReqItemCount{{ i }}">ReqItemCount{{ i }}</label>
                <input [formControlName]="'ReqItemCount' + i" id="ReqItemCount{{ i }}" type="number" class="form-control form-control-sm" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-block">
        <span class="category-title">
          {{ 'QUEST.TEMPLATE.REQUIRED_FACTION_OR_NPC' | translate }}
          <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'QUEST.TEMPLATE.REQUIRED_FACTION_OR_NPC_TOOLTIP' | translate"></i>
        </span>
        <div class="row">
          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="RequiredMinRepFaction">RequiredMinRepFaction</label>
            <input
              [formControlName]="'RequiredMinRepFaction'"
              id="RequiredMinRepFaction"
              type="number"
              class="form-control form-control-sm"
            />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="RequiredMinRepValue">RequiredMinRepValue</label>
            <input [formControlName]="'RequiredMinRepValue'" id="RequiredMinRepValue" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="RequiredMaxRepFaction">RequiredMaxRepFaction</label>
            <input
              [formControlName]="'RequiredMaxRepFaction'"
              id="RequiredMaxRepFaction"
              type="number"
              class="form-control form-control-sm"
            />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="RequiredMaxRepValue">RequiredMaxRepValue</label>
            <input [formControlName]="'RequiredMaxRepValue'" id="RequiredMaxRepValue" type="number" class="form-control form-control-sm" />
          </div>
        </div>

        <div class="row">
          <div *ngFor="let i of [1, 2, 3, 4]" class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <div class="row">
              <div class="col-12">
                <label class="control-label" for="ReqCreatureOrGOId{{ i }}">ReqCreatureOrGOId{{ i }}</label>
                <input
                  [formControlName]="'ReqCreatureOrGOId' + i"
                  id="ReqCreatureOrGOId{{ i }}"
                  type="number"
                  class="form-control form-control-sm"
                />
              </div>
              <div class="col-12">
                <label class="control-label" for="ReqCreatureOrGOCount{{ i }}">ReqCreatureOrGOCount{{ i }}</label>
                <input
                  [formControlName]="'ReqCreatureOrGOCount' + i"
                  id="ReqCreatureOrGOCount{{ i }}"
                  type="number"
                  class="form-control form-control-sm"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="content-block">
        <span class="category-title" [translate]="'QUEST.TEMPLATE.REQUIRED_MISC'"></span>
        <div class="row">
          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="RequiredClasses">RequiredClasses</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'QUEST.TEMPLATE.REQUIRED_CLASSES' | translate"></i>
            <input [formControlName]="'RequiredClasses'" id="RequiredClasses" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="RequiredRaces">RequiredRaces</label>
            <keira-flags-selector-btn
              [control]="editorService.form.controls.RequiredRaces"
              [config]="{ flags: ALLOWABLE_RACES, name: 'AllowableRaces' }"
            ></keira-flags-selector-btn>
            <input [formControlName]="'RequiredRaces'" id="RequiredRaces" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="RequiredSkill">RequiredSkill</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'QUEST.TEMPLATE_ADDON.REQ_SKILL_ID' | translate"></i>
            <input [formControlName]="'RequiredSkill'" id="RequiredSkill" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="RequiredSkillValue">RequiredSkillValue</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'QUEST.TEMPLATE_ADDON.REQ_SKILL_POINTS' | translate"></i>
            <input [formControlName]="'RequiredSkillValue'" id="RequiredSkillValue" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="RequiredCondition">RequiredCondition</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'QUEST.TEMPLATE.REQUIRED_CONDITION' | translate"></i>
            <input [formControlName]="'RequiredCondition'" id="RequiredCondition" type="number" class="form-control form-control-sm" />
          </div>

          <div *ngFor="let i of [1, 2, 3, 4]" class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <div class="row">
              <div class="col-12">
                <label class="control-label" for="ReqSpellCast{{ i }}">ReqSpellCast{{ i }}</label>
                <input [formControlName]="'ReqSpellCast' + i" id="ReqSpellCast{{ i }}" type="number" class="form-control form-control-sm" />
              </div>
            </div>
          </div>
          <div class="row">
            <div *ngFor="let i of [1, 2, 3, 4]" class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
              <div class="row">
                <div class="col-12">
                  <label class="control-label" for="ReqSourceId{{ i }}">
                    <keira-icon [itemId]="editorService.form.controls['ReqSourceId' + i].value"></keira-icon>
                    ReqSourceId{{ i }}
                  </label>
                  <keira-item-selector-btn
                    [control]="editorService.form.controls['ReqSourceId' + i]"
                    [config]="{ name: 'ReqSourceId' + i }"
                  ></keira-item-selector-btn>
                  <input [formControlName]="'ReqSourceId' + i" id="ReqSourceId{{ i }}" type="number" class="form-control form-control-sm" />
                </div>
                <div class="col-12">
                  <label class="control-label" for="ReqSourceCount{{ i }}">ReqSourceCount{{ i }}</label>
                  <input
                    [formControlName]="'ReqSourceCount' + i"
                    id="ReqSourceCount{{ i }}"
                    type="number"
                    class="form-control form-control-sm"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-block">
        <span class="category-title" [translate]="'QUEST.TEMPLATE.REWARDS'"></span>
        <div class="row">
          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="RewSpell">RewSpell</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'QUEST.TEMPLATE.REWARD_SPELL' | translate"></i>
            <input [formControlName]="'RewSpell'" id="RewSpell" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="RewSpellCast">RewSpellCast</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'QUEST.TEMPLATE.REWARD_SPELLS_CAST' | translate"></i>
            <input [formControlName]="'RewSpellCast'" id="RewSpellCast" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="RewMailTemplateId">RewMailTemplateId</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'QUEST.TEMPLATE_ADDON.REWARD_MAIL_TEMPLATE_ID' | translate"></i>
            <input [formControlName]="'RewMailTemplateId'" id="RewMailTemplateId" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="RewMailDelaySecs">RewMailDelaySecs</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'QUEST.TEMPLATE_ADDON.REWARD_MAIL_DELAY' | translate"></i>
            <input [formControlName]="'RewMailDelaySecs'" id="RewMailDelaySecs" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="RewMailMoney">RewMailMoney</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'QUEST.TEMPLATE.REWARD_MAIL_MONEY' | translate"></i>
            <input [formControlName]="'RewMailMoney'" id="RewMailMoney" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="RewXP">RewXP</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'QUEST.TEMPLATE.REWARD_XP_DIFFICULTY' | translate"></i>
            <input [formControlName]="'RewXP'" id="RewXP" type="number" class="form-control form-control-sm" />
          </div>

          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="RewOrReqMoney">RewOrReqMoney</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'QUEST.TEMPLATE.REWARD_MONEY' | translate"></i>
            <input [formControlName]="'RewOrReqMoney'" id="RewOrReqMoney" type="number" class="form-control form-control-sm" />
          </div>
        </div>
      </div>

      <div class="content-block">
        <span class="category-title" [translate]="'QUEST.TEMPLATE.REWARD_ITEMS'"></span>
        <div class="row">
          <div *ngFor="let i of [1, 2, 3, 4]" class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <div class="row">
              <div class="col-12">
                <label class="control-label" for="RewItemId{{ i }}">
                  <keira-icon [itemId]="editorService.form.controls['RewItemId' + i].value"></keira-icon>
                  RewItem{{ i }}
                </label>
                <keira-item-selector-btn
                  [control]="editorService.form.controls['RewItemId' + i]"
                  [config]="{ name: 'RewItemId' + i }"
                ></keira-item-selector-btn>
                <input [formControlName]="'RewItemId' + i" id="RewItemId{{ i }}" type="number" class="form-control form-control-sm" />
              </div>
              <div class="col-12">
                <label class="control-label" for="RewItemCount{{ i }}">RewItemCount{{ i }}</label>
                <input [formControlName]="'RewItemCount' + i" id="RewItemCount{{ i }}" type="number" class="form-control form-control-sm" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-block">
        <span class="category-title" [translate]="'QUEST.TEMPLATE.REWARD_CHOICE_ITEMS'"></span>
        <div class="row">
          <div *ngFor="let i of [1, 2, 3, 4, 5, 6]" class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <div class="row">
              <div class="col-12">
                <label class="control-label" for="RewChoiceItemId{{ i }}">
                  <keira-icon [itemId]="editorService.form.controls['RewChoiceItemId' + i].value"></keira-icon>
                  RewChItemId{{ i }}
                </label>
                <keira-item-selector-btn
                  [control]="editorService.form.controls['RewChoiceItemId' + i]"
                  [config]="{ name: 'RewChoiceItemId' + i }"
                ></keira-item-selector-btn>
                <input
                  [formControlName]="'RewChoiceItemId' + i"
                  id="RewChoiceItemId{{ i }}"
                  type="number"
                  class="form-control form-control-sm"
                />
              </div>
              <div class="col-12">
                <label class="control-label" for="RewChoiceItemCount{{ i }}">
                  <keira-icon [itemId]="editorService.form.controls['RewChoiceItemId' + i].value"></keira-icon>
                  RewChItemCnt{{ i }}
                </label>
                <input
                  [formControlName]="'RewChoiceItemCount' + i"
                  id="RewChoiceItemCount{{ i }}"
                  type="number"
                  class="form-control form-control-sm"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-block">
        <span class="category-title">
          {{ 'QUEST.TEMPLATE.REWARD_FACTIONS' | translate }}
          <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'QUEST.TEMPLATE.REWARD_FACTIONS_TOOLTIP' | translate"></i>
        </span>
        <div class="row">
          <div *ngFor="let i of [1, 2, 3, 4, 5]" class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <div class="row">
              <div class="col-12">
                <label class="control-label" for="RewRepFaction{{ i }}">RewRepFaction{{ i }}</label>
                <keira-faction-selector-btn
                  [config]="{ name: 'RewRepFaction' + i }"
                  [control]="editorService.form.controls['RewRepFaction' + i]"
                ></keira-faction-selector-btn>
                <input
                  [formControlName]="'RewRepFaction' + i"
                  id="RewRepFaction{{ i }}"
                  type="number"
                  class="form-control form-control-sm"
                />
              </div>
              <div class="col-12">
                <label class="control-label" for="RewRepValue{{ i }}">RewRepValue{{ i }}</label>
                <input [formControlName]="'RewRepValue' + i" id="RewRepValue{{ i }}" type="number" class="form-control form-control-sm" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-block">
        <span class="category-title">
          {{ 'QUEST.TEMPLATE.EMOTES' | translate }}
          <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'QUEST.TEMPLATE.EMOTES_TOOLTIP' | translate"></i>
        </span>
        <div class="row">
          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="IncompleteEmote">IncompleteEmote</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'QUEST.TEMPLATE.INCOMPLETE_EMOTE' | translate"></i>
            <input [formControlName]="'IncompleteEmote'" id="IncompleteEmote" type="number" class="form-control form-control-sm" />
          </div>
          <div class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <label class="control-label" for="CompleteEmote">CompleteEmote</label>
            <i class="fas fa-info-circle ms-1" placement="auto" [tooltip]="'QUEST.TEMPLATE.COMPLETE_EMOTE' | translate"></i>
            <input [formControlName]="'CompleteEmote'" id="CompleteEmote" type="number" class="form-control form-control-sm" />
          </div>
        </div>

        <div class="row">
          <div *ngFor="let i of [1, 2, 3, 4]" class="form-group col-12 col-sm-6 col-md-5 col-lg-4 col-xl-2">
            <div class="row">
              <div class="col-12">
                <label class="control-label" for="DetailsEmote{{ i }}">DetailsEmote{{ i }}</label>
                <input [formControlName]="'DetailsEmote' + i" id="DetailsEmote{{ i }}" type="number" class="form-control form-control-sm" />
              </div>
              <div class="col-12">
                <label class="control-label" for="DetailsEmoteDelay{{ i }}">DetailsEmoteDelay{{ i }}</label>
                <input
                  [formControlName]="'DetailsEmote' + i"
                  id="DetailsEmoteDelay{{ i }}"
                  type="number"
                  class="form-control form-control-sm"
                />
              </div>
              <div class="col-12">
                <label class="control-label" for="OfferRewardEmote{{ i }}">OfferRewardEmote{{ i }}</label>
                <input
                  [formControlName]="'OfferRewardEmote' + i"
                  id="OfferRewardEmote{{ i }}"
                  type="number"
                  class="form-control form-control-sm"
                />
              </div>
              <div class="col-12">
                <label class="control-label" for="OfferRewardEmoteDelay{{ i }}">OfferRewardEmoteDelay{{ i }}</label>
                <input
                  [formControlName]="'OfferRewardEmoteDelay' + i"
                  id="OfferRewardEmoteDelay{{ i }}"
                  type="number"
                  class="form-control form-control-sm"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <keira-quest-preview></keira-quest-preview>
  </div>
</div>
